* {
  box-sizing: border-box
}
*:after,
*.before {
  box-sizing: border-box
}

body, html, article {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: Roboto;
  font-size: 15px;
  text-transform: none;
  color: #222;
  line-height: 1.6em;
  -moz-osx-font-smoothing: grayscale;
  
}

article {
  display: block;
}

a, a:visited {
  text-decoration: none;
  color:#549fb8
}

h1 {
  text-align: center;
  color: #069;
  
  font-family: Oswald;
  font-size: 30px;
  font-weight: lighter;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.5;
  color: #539fb9;
  display: block;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto 15px;
  margin-bottom: 15px;
  clear: both;
  font-weight: lighter;
  padding-top: 4px;
  }

ul {
  list-style: disc outside;
}
ul, ol {
  margin-bottom: 20px;
}

ul li, ol li {
  margin-bottom: 12px;
}